MicroServices/NodeRedService/project/BackupNodeRed_ProjectV4.json
[
    {
        "id": "c7a5a60fd97a99fb",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bbd95f775cd9fc83",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e0b05774ca50f50c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "89da30c4c884521c",
        "type": "ui_group",
        "name": "Home",
        "tab": "bbd95f775cd9fc83",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d08d80fb7dace21",
        "type": "ui_group",
        "name": "Device List",
        "tab": "bbd95f775cd9fc83",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7813fd6c4d3379b",
        "type": "ui_tab",
        "name": "User",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "42b9996267da6a46",
        "type": "ui_group",
        "name": "User Management",
        "tab": "f7813fd6c4d3379b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "431457613cd17a25",
        "type": "ui_tab",
        "name": "Device",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9e8e3c29fbee82ba",
        "type": "ui_group",
        "name": "Device Management",
        "tab": "431457613cd17a25",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "527c05dea6399193",
        "type": "ui_group",
        "name": "User List",
        "tab": "f7813fd6c4d3379b",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dce2fef914090fb0",
        "type": "ui_group",
        "name": "Device List",
        "tab": "431457613cd17a25",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc5e9f99edf54822",
        "type": "ui_group",
        "name": "Device Data",
        "tab": "bbd95f775cd9fc83",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d86d78de3386db7",
        "type": "ui_tab",
        "name": "Building",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "51c72af8f3b3ab02",
        "type": "ui_group",
        "name": "Building Management",
        "tab": "0d86d78de3386db7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f301650746e90742",
        "type": "ui_group",
        "name": "Building List",
        "tab": "0d86d78de3386db7",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "97cb9490c1953fc2",
        "type": "ui_tab",
        "name": "FireFighter",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d3bf7e3d5afc6e7e",
        "type": "ui_group",
        "name": "FireFighter Management",
        "tab": "97cb9490c1953fc2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "112bd0d768dd0ec9",
        "type": "ui_group",
        "name": "FireFighter List",
        "tab": "97cb9490c1953fc2",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2eec2bf06eab76ab",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    },
    {
        "id": "aa8212c1f1a21f6a",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Device List",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://json_catalog_provider_service:8084/getDevicesList",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 260,
        "wires": [
            [
                "ff14c60decb91b6f"
            ]
        ]
    },
    {
        "id": "ff14c60decb91b6f",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 260,
        "wires": [
            [
                "a18e8e01c4daa0b7"
            ]
        ]
    },
    {
        "id": "a18e8e01c4daa0b7",
        "type": "ui_template",
        "z": "c7a5a60fd97a99fb",
        "group": "8d08d80fb7dace21",
        "name": "Home Device List",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-repeat=\"device in msg.payload.data\"\n    style=\"background-color: white; padding: 15px; border-radius: 8px; margin-bottom: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n\n    <div style=\"display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px;\">\n        <h3 style=\"color: #2c3e50; margin: 0;\">{{device.deviceName || 'No name'}}</h3>\n        <span ng-if=\"device.status.fireStatus === true\" style=\"background-color: #e74c3c; color: white; padding: 5px 12px; border-radius: 20px; font-weight: bold;\">Fire</span>\n        <span ng-if=\"device.status.fireStatus !== true\" style=\"background-color: #27ae60; color: white; padding: 5px 12px; border-radius: 20px; font-weight: bold;\">✓ OK</span>\n    </div>\n\n    <p style=\"color: #7f8c8d; font-size: 0.9em; margin: 0 0 8px 0;\">ID: {{device.clientID || 'N/A'}}</p>\n\n    <p style=\"color: #95a5a6; font-size: 0.8em; margin: 0; text-align: right;\">{{device.lastUpdate}}</p>\n</div>\n\n<div ng-if=\"!msg.payload.data || !msg.payload.data.length\"\n    style=\"background-color: white; padding: 20px; border-radius: 8px; text-align: center;\">\n    <p style=\"color: #95a5a6; margin: 0;\">No devices registered</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 910,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "889383079ddc0ef2",
        "type": "ui_form",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "label": "add User",
        "group": "42b9996267da6a46",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User Name",
                "value": "UserName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "User ID",
                "value": "UserID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Telegram Chat ID",
                "value": "TChatID",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "UserName": "",
            "UserID": "",
            "TChatID": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "45d29fa0873b9cc3"
            ]
        ]
    },
    {
        "id": "ee18ce3232d43d6e",
        "type": "ui_form",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "label": "Add Device",
        "group": "9e8e3c29fbee82ba",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Device Name",
                "value": "DeviceName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Device ID",
                "value": "ClientID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Refresh Time",
                "value": "LifeTimeInterval",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Pull Update Rate",
                "value": "CatalogUpdateIntervalCycles",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Measure Type",
                "value": "MeasureType",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Available Services",
                "value": "AvailableServices",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "MQTT Topic Subscription",
                "value": "topicSub",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "MQTT Topic Publisher",
                "value": "topicPub",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "MQTT Borker Url",
                "value": "broker",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "MQTT Port",
                "value": "port",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "REST Server Host",
                "value": "serverHost",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "REST Sever Port",
                "value": "serverPort",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "REST Server Config",
                "value": "serverConfig",
                "type": "multiline",
                "required": false,
                "rows": 2
            },
            {
                "label": "Extra",
                "value": "extra",
                "type": "multiline",
                "required": false,
                "rows": 2
            },
            {
                "label": "BuildingID",
                "value": "BuildingID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Floor",
                "value": "Floor",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Room",
                "value": "Room",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "DeviceName": "",
            "ClientID": "",
            "LifeTimeInterval": "",
            "CatalogUpdateIntervalCycles": "",
            "MeasureType": "",
            "AvailableServices": "",
            "topicSub": "",
            "topicPub": "",
            "broker": "",
            "port": "",
            "serverHost": "",
            "serverPort": "",
            "serverConfig": "",
            "extra": "",
            "BuildingID": "",
            "Floor": "",
            "Room": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "42501e3b1ddaaa99"
            ]
        ]
    },
    {
        "id": "4599f3f0fcaa7f31",
        "type": "ui_form",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "label": "Delete User",
        "group": "42b9996267da6a46",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "UserID",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "UserID": ""
        },
        "payload": "",
        "submit": "Delete",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "ca597a89aa5338ff"
            ]
        ]
    },
    {
        "id": "d0bcad1c1f0b714f",
        "type": "ui_form",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "label": "Delete Device",
        "group": "9e8e3c29fbee82ba",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Device ID",
                "value": "DeviceID",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "DeviceID": ""
        },
        "payload": "",
        "submit": "Delete",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 280,
        "y": 660,
        "wires": [
            [
                "51d86fd243656169"
            ]
        ]
    },
    {
        "id": "1ae97e6af996ab52",
        "type": "ui_toast",
        "z": "c7a5a60fd97a99fb",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "New device add",
        "name": "",
        "x": 1430,
        "y": 620,
        "wires": []
    },
    {
        "id": "6d0f137188a7a7a9",
        "type": "change",
        "z": "c7a5a60fd97a99fb",
        "name": "Notification Toast",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"status\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 620,
        "wires": [
            [
                "1ae97e6af996ab52"
            ]
        ]
    },
    {
        "id": "018383f705955e98",
        "type": "ui_toast",
        "z": "c7a5a60fd97a99fb",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Device delete",
        "name": "",
        "x": 1430,
        "y": 660,
        "wires": []
    },
    {
        "id": "b6f5ae690f369eb4",
        "type": "change",
        "z": "c7a5a60fd97a99fb",
        "name": "Notification Toast",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"status\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 660,
        "wires": [
            [
                "018383f705955e98"
            ]
        ]
    },
    {
        "id": "ad61f279999a386a",
        "type": "ui_toast",
        "z": "c7a5a60fd97a99fb",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "New user add",
        "name": "",
        "x": 1410,
        "y": 400,
        "wires": []
    },
    {
        "id": "6c3f8d14357ea79d",
        "type": "change",
        "z": "c7a5a60fd97a99fb",
        "name": "Notification Toast",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"status\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 400,
        "wires": [
            [
                "ad61f279999a386a"
            ]
        ]
    },
    {
        "id": "99439c4915d02107",
        "type": "ui_toast",
        "z": "c7a5a60fd97a99fb",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "User Delete",
        "name": "",
        "x": 1410,
        "y": 440,
        "wires": []
    },
    {
        "id": "d96f2c927ec1dd0f",
        "type": "change",
        "z": "c7a5a60fd97a99fb",
        "name": "Notification Toast",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"status\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 440,
        "wires": [
            [
                "99439c4915d02107"
            ]
        ]
    },
    {
        "id": "f48e3409e43a74b6",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Delete User",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 440,
        "wires": [
            [
                "4f53a4f990abfe8d"
            ]
        ]
    },
    {
        "id": "04101bcc029b032a",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Add User",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://json_catalog_provider_service:8084/addUser",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 800,
        "y": 400,
        "wires": [
            [
                "2fa0691c6ab12d68"
            ]
        ]
    },
    {
        "id": "17f374061a6622fd",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Delete Device",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 820,
        "y": 660,
        "wires": [
            [
                "6f80c4ed1b6edf21"
            ]
        ]
    },
    {
        "id": "efb0ff13c15cb25f",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Add Device",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 620,
        "wires": [
            [
                "10c582d8b5f17627"
            ]
        ]
    },
    {
        "id": "fcdd92acbe5772ba",
        "type": "ui_template",
        "z": "c7a5a60fd97a99fb",
        "group": "527c05dea6399193",
        "name": "User List",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-repeat=\"user in msg.payload.data\"\n    style=\"background-color: white; padding: 15px; border-radius: 8px; margin-bottom: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n    <h3 style=\"color: #2c3e50; margin: 0 0 5px 0;\">{{user.userName || 'Unknown User'}}</h3>\n    <p style=\"color: #7f8c8d; font-size: 0.85em; margin: 0 0 12px 0;\">ID: {{user.userID || 'N/A'}}</p>\n    <p style=\"color: #34495e; margin: 0;\">Chat ID: {{user.chatID || 'N/A'}}</p>\n</div>\n\n<div ng-if=\"!msg.payload.data || !msg.payload.data.length\"\n    style=\"background-color: white; padding: 20px; border-radius: 8px; text-align: center;\">\n    <p style=\"color: #95a5a6; font-size: 1.1em; margin: 0;\">No users registered</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "8bb3522e8a686876",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "User List",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://json_catalog_provider_service:8084/getUsersList",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 520,
        "wires": [
            [
                "a092aa6b6d0fa00b"
            ]
        ]
    },
    {
        "id": "a092aa6b6d0fa00b",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 790,
        "y": 520,
        "wires": [
            [
                "fcdd92acbe5772ba"
            ]
        ]
    },
    {
        "id": "c70ec814a17c7b98",
        "type": "ui_template",
        "z": "c7a5a60fd97a99fb",
        "group": "cc5e9f99edf54822",
        "name": "Smoke",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/3249207/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 360,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4c211088fb8d75c6",
        "type": "ui_template",
        "z": "c7a5a60fd97a99fb",
        "group": "cc5e9f99edf54822",
        "name": "TVOC",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/3249207/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 510,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1b2f1d8a41422726",
        "type": "ui_template",
        "z": "c7a5a60fd97a99fb",
        "group": "cc5e9f99edf54822",
        "name": "Temperature",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/3249207/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "bdfbad9bd5e81148",
        "type": "ui_template",
        "z": "c7a5a60fd97a99fb",
        "group": "cc5e9f99edf54822",
        "name": "CO",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<iframe width=\"450\" height=\"260\" style=\"border: 1px solid #cccccc;\" src=\"https://thingspeak.com/channels/3249207/charts/4?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 830,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "87ce14a9075a1984",
        "type": "ui_form",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "label": "Add Building",
        "group": "51c72af8f3b3ab02",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Building Name",
                "value": "BuildingName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Building ID",
                "value": "BuildingID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Building Owner",
                "value": "UserID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Address",
                "value": "address",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Lat, Long",
                "value": "GPS",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "BuildingName": "",
            "BuildingID": "",
            "UserID": "",
            "address": "",
            "GPS": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 290,
        "y": 840,
        "wires": [
            [
                "bbddd46be792ade6"
            ]
        ]
    },
    {
        "id": "fb1511235427d2c8",
        "type": "ui_form",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "label": "Delete Building",
        "group": "51c72af8f3b3ab02",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Building ID",
                "value": "BuildingID",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "BuildingID": ""
        },
        "payload": "",
        "submit": "Delete",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 280,
        "y": 880,
        "wires": [
            [
                "a01b89bb53dbdd55"
            ]
        ]
    },
    {
        "id": "b438ad4ebc0ca29c",
        "type": "ui_toast",
        "z": "c7a5a60fd97a99fb",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "New building add",
        "name": "",
        "x": 1430,
        "y": 840,
        "wires": []
    },
    {
        "id": "85d9f741537a6e7e",
        "type": "change",
        "z": "c7a5a60fd97a99fb",
        "name": "Notification Toast",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"status\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 840,
        "wires": [
            [
                "b438ad4ebc0ca29c"
            ]
        ]
    },
    {
        "id": "53a07cf3f0c02783",
        "type": "ui_toast",
        "z": "c7a5a60fd97a99fb",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Building delete",
        "name": "",
        "x": 1430,
        "y": 880,
        "wires": []
    },
    {
        "id": "b8238f8e2dee97ba",
        "type": "change",
        "z": "c7a5a60fd97a99fb",
        "name": "Notification Toast",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"status\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 880,
        "wires": [
            [
                "53a07cf3f0c02783"
            ]
        ]
    },
    {
        "id": "614c8ce755f46cb9",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Delete Building",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 820,
        "y": 880,
        "wires": [
            [
                "5ca1ed633f6233ad"
            ]
        ]
    },
    {
        "id": "c6758a8fae3544bf",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Add Building",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 840,
        "wires": [
            [
                "85d9f741537a6e7e"
            ]
        ]
    },
    {
        "id": "ad6dd7408ed4025a",
        "type": "ui_template",
        "z": "c7a5a60fd97a99fb",
        "group": "f301650746e90742",
        "name": "Building List",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-repeat=\"building in msg.payload.data\"\n    style=\"background-color: white; padding: 15px; border-radius: 8px; margin-bottom: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n\n    <div style=\"display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px;\">\n        <h3 style=\"color: #2c3e50; margin: 0;\">{{building.buildingName || 'No name'}}</h3>\n        <span style=\"background-color: #3498db; color: white; padding: 5px 12px; border-radius: 20px; font-weight: bold; font-size: 0.8em;\">{{building.floor.length || 0}} floors</span>\n    </div>\n\n    <p style=\"color: #7f8c8d; font-size: 0.9em; margin: 0 0 5px 0;\">ID: {{building.buildingID || 'N/A'}}</p>\n    \n    <p style=\"color: #34495e; font-size: 0.9em; margin: 0 0 5px 0;\">{{building.address || 'No address'}}</p>\n    \n    <p style=\"color: #8e44ad; font-size: 0.85em; margin: 0;\">Owners: {{building.userID.join(', ') || 'None'}}</p>\n</div>\n\n<div ng-if=\"!msg.payload.data || !msg.payload.data.length\"\n    style=\"background-color: white; padding: 20px; border-radius: 8px; text-align: center;\">\n    <p style=\"color: #95a5a6; margin: 0;\">No buildings registered</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1010,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "0ce50e5f4bda1211",
        "type": "ui_form",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "label": "Add FireFighter",
        "group": "d3bf7e3d5afc6e7e",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "FireFighter Service Name",
                "value": "FireFighterName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "FireFighter ID",
                "value": "FireFighterID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Telegram Chat ID",
                "value": "ChatID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Address",
                "value": "Address",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Lat, Long",
                "value": "GPS",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "FireFighterName": "",
            "FireFighterID": "",
            "ChatID": "",
            "Address": "",
            "GPS": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 280,
        "y": 1060,
        "wires": [
            [
                "6f931d3a3bbf353d"
            ]
        ]
    },
    {
        "id": "25b0018a366950f1",
        "type": "ui_form",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "label": "Delete FireFighter",
        "group": "d3bf7e3d5afc6e7e",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "FireFighter ID",
                "value": "FireFighterID",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "FireFighterID": ""
        },
        "payload": "",
        "submit": "Delete",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 270,
        "y": 1100,
        "wires": [
            [
                "5c1d60b78364ce11"
            ]
        ]
    },
    {
        "id": "67ec60d3c9818819",
        "type": "ui_toast",
        "z": "c7a5a60fd97a99fb",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "New FireFighter add",
        "name": "",
        "x": 1430,
        "y": 1060,
        "wires": []
    },
    {
        "id": "832cf3e9a4f841e6",
        "type": "change",
        "z": "c7a5a60fd97a99fb",
        "name": "Notification Toast",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"status\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1060,
        "wires": [
            [
                "67ec60d3c9818819"
            ]
        ]
    },
    {
        "id": "4b6590cb9fd92e88",
        "type": "ui_toast",
        "z": "c7a5a60fd97a99fb",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "FireFighter delete",
        "name": "",
        "x": 1430,
        "y": 1100,
        "wires": []
    },
    {
        "id": "e64374ba42c4b5ae",
        "type": "change",
        "z": "c7a5a60fd97a99fb",
        "name": "Notification Toast",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"status\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1100,
        "wires": [
            [
                "4b6590cb9fd92e88"
            ]
        ]
    },
    {
        "id": "6209e3ce4d65d7b9",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Delete FireFighter",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 1100,
        "wires": [
            [
                "f0f63fa449ebd9d5"
            ]
        ]
    },
    {
        "id": "e81832eeef25af44",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Add FireFighter",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 820,
        "y": 1060,
        "wires": [
            [
                "ce102265f3991659"
            ]
        ]
    },
    {
        "id": "95a4b71a596ecb76",
        "type": "ui_template",
        "z": "c7a5a60fd97a99fb",
        "group": "112bd0d768dd0ec9",
        "name": "FireFighter List",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-repeat=\"ff in msg.payload.data\"\n    style=\"background-color: white; padding: 15px; border-radius: 8px; margin-bottom: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n\n    <h3 style=\"color: #2c3e50; margin: 0 0 8px 0;\">{{ff.fireFighterServiceName || 'No name'}}</h3>\n\n    <p style=\"color: #7f8c8d; font-size: 0.9em; margin: 0 0 5px 0;\">ID: {{ff.fireFighterID || 'N/A'}}</p>\n\n    <p style=\"color: #34495e; font-size: 0.9em; margin: 0;\">{{ff.address || 'No address'}}</p>\n</div>\n\n<div ng-if=\"!msg.payload.data || !msg.payload.data.length\"\n    style=\"background-color: white; padding: 20px; border-radius: 8px; text-align: center;\">\n    <p style=\"color: #95a5a6; font-size: 1.1em; margin: 0;\">No firefighters registered</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "dcf31a8ffa4fba88",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "FireFighter List",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://json_catalog_provider_service:8084/getFireFightersList",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 1180,
        "wires": [
            [
                "cf08a3fda52c36c2"
            ]
        ]
    },
    {
        "id": "cf08a3fda52c36c2",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 790,
        "y": 1180,
        "wires": [
            [
                "95a4b71a596ecb76"
            ]
        ]
    },
    {
        "id": "d51895b5201e96c4",
        "type": "inject",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "aa8212c1f1a21f6a"
            ]
        ]
    },
    {
        "id": "4711550f73513287",
        "type": "inject",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "8bb3522e8a686876"
            ]
        ]
    },
    {
        "id": "45d29fa0873b9cc3",
        "type": "function",
        "z": "c7a5a60fd97a99fb",
        "name": "Format for HTTP request",
        "func": "msg.payload = {\n    \"userID\": msg.payload.UserID,\n    \"userName\": msg.payload.UserName,\n    \"chatID\": msg.payload.TChatID\n};\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 400,
        "wires": [
            [
                "04101bcc029b032a"
            ]
        ]
    },
    {
        "id": "2fa0691c6ab12d68",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 970,
        "y": 400,
        "wires": [
            [
                "6c3f8d14357ea79d"
            ]
        ]
    },
    {
        "id": "ca597a89aa5338ff",
        "type": "function",
        "z": "c7a5a60fd97a99fb",
        "name": "Format for HTTP request",
        "func": "var baseUrl = \"http://json_catalog_provider_service:8084\"; \nmsg.url = baseUrl + \"/deleteUser/\" + msg.payload.UserID;\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 440,
        "wires": [
            [
                "f48e3409e43a74b6"
            ]
        ]
    },
    {
        "id": "4f53a4f990abfe8d",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 970,
        "y": 440,
        "wires": [
            [
                "d96f2c927ec1dd0f"
            ]
        ]
    },
    {
        "id": "42501e3b1ddaaa99",
        "type": "function",
        "z": "c7a5a60fd97a99fb",
        "name": "Format for HTTP request",
        "func": "var formData = msg.payload;\nvar baseUrl = \"http://json_catalog_provider_service:8084\";\n\nvar measureTypes = [];\nif (formData.MeasureType && String(formData.MeasureType).trim() !== '') {\n    measureTypes = String(formData.MeasureType).split(',').map(function(s) { return s.trim(); });\n}\n\nvar availableServices = [];\nif (formData.AvailableServices && String(formData.AvailableServices).trim() !== '') {\n    availableServices = String(formData.AvailableServices).split(',').map(function(s) { return s.trim(); });\n}\n\nvar topicSubs = [];\nif (formData.topicSub && String(formData.topicSub).trim() !== '') {\n    topicSubs = String(formData.topicSub).split(',').map(function(s) { return s.trim(); });\n}\n\nvar topicPubs = [];\nif (formData.topicPub && String(formData.topicPub).trim() !== '') {\n    topicPubs = [String(formData.topicPub).trim()];\n}\n\nvar serverConfig = {};\ntry {\n    if (formData.serverConfig && String(formData.serverConfig).trim() !== '') {\n        serverConfig = JSON.parse(formData.serverConfig);\n    }\n} catch (e) { }\n\nvar extra = {};\ntry {\n    if (formData.extra && String(formData.extra).trim() !== '') {\n        extra = JSON.parse(formData.extra);\n    }\n} catch (e) { }\n\nvar msg1 = RED.util.cloneMessage(msg); \n\nmsg1.payload = {\n    \"clientID\": String(formData.ClientID || \"\").trim(),\n    \"deviceName\": String(formData.DeviceName || \"\"),\n    \"lifeTimeInterval\": parseInt(formData.LifeTimeInterval) || 20,\n    \"catalogUpdateIntervalCycles\": parseInt(formData.CatalogUpdateIntervalCycles) || 20,\n    \"measureType\": measureTypes,\n    \"availableServices\": availableServices,\n    \"MQTT\": {\n        \"topicSub\": topicSubs,\n        \"topicPub\": topicPubs,\n        \"broker\": String(formData.broker || \"\"),\n        \"port\": parseInt(formData.port) || 1883\n    },\n    \"REST\": {\n        \"serverHost\": String(formData.serverHost || \"\"),\n        \"serverPort\": parseInt(formData.serverPort) || 8080,\n        \"serverConfig\": serverConfig\n    },\n    \"extra\": extra,\n    \"status\": {\n        \"fireStatus\": false\n    },\n    \"lastUpdate\": Date.now() / 1000 \n};\n\nmsg1.url = baseUrl + \"/addDevice\";\nmsg1.method = \"POST\";\nmsg1.headers = { \"Content-Type\": \"application/json\" };\nvar msg2 = null;\n\nif (formData.BuildingID && String(formData.BuildingID).trim() !== '') {\n    msg2 = RED.util.cloneMessage(msg);\n    \n    msg2.payload = {\n        \"clientID\": String(formData.ClientID || \"\").trim(),\n        \"buildingID\": String(formData.BuildingID).trim(),\n        \"floorID\": String(formData.Floor).trim(),\n        \"roomID\": String(formData.Room).trim()\n    };\n    \n    msg2.url = baseUrl + \"/addDeviceToBuilding\";\n    msg2.method = \"POST\";\n    msg2.headers = { \"Content-Type\": \"application/json\" };\n}\n\nif (msg2) {\n    return [[msg1, msg2]]; \n} else {\n    return [[msg1]];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 620,
        "wires": [
            [
                "efb0ff13c15cb25f"
            ]
        ]
    },
    {
        "id": "10c582d8b5f17627",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 620,
        "wires": [
            [
                "6d0f137188a7a7a9"
            ]
        ]
    },
    {
        "id": "2535ee245f2107b6",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Device List",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://json_catalog_provider_service:8084/getDevicesList",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 740,
        "wires": [
            [
                "b8c19f0fca0c78b9"
            ]
        ]
    },
    {
        "id": "b8c19f0fca0c78b9",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 790,
        "y": 740,
        "wires": [
            [
                "ba03aff9c9898f08"
            ]
        ]
    },
    {
        "id": "ba03aff9c9898f08",
        "type": "ui_template",
        "z": "c7a5a60fd97a99fb",
        "group": "dce2fef914090fb0",
        "name": "Home Device List",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-repeat=\"device in msg.payload.data\"\n    style=\"background-color: white; padding: 15px; border-radius: 8px; margin-bottom: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n\n    <div style=\"display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px;\">\n        <h3 style=\"color: #2c3e50; margin: 0;\">{{device.deviceName || 'No name'}}</h3>\n        <span ng-if=\"device.status.fireStatus === true\" style=\"background-color: #e74c3c; color: white; padding: 5px 12px; border-radius: 20px; font-weight: bold;\">Fire</span>\n        <span ng-if=\"device.status.fireStatus !== true\" style=\"background-color: #27ae60; color: white; padding: 5px 12px; border-radius: 20px; font-weight: bold;\">✓ OK</span>\n    </div>\n\n    <p style=\"color: #7f8c8d; font-size: 0.9em; margin: 0 0 8px 0;\">ID: {{device.clientID || 'N/A'}}</p>\n\n    <p style=\"color: #95a5a6; font-size: 0.8em; margin: 0; text-align: right;\">{{device.lastUpdate}}</p>\n</div>\n\n<div ng-if=\"!msg.payload.data || !msg.payload.data.length\"\n    style=\"background-color: white; padding: 20px; border-radius: 8px; text-align: center;\">\n    <p style=\"color: #95a5a6; margin: 0;\">No devices registered</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1030,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "f92aa02d7c290785",
        "type": "inject",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 740,
        "wires": [
            [
                "2535ee245f2107b6"
            ]
        ]
    },
    {
        "id": "51d86fd243656169",
        "type": "function",
        "z": "c7a5a60fd97a99fb",
        "name": "Format for HTTP request",
        "func": "var baseUrl = \"http://json_catalog_provider_service:8084\";\nmsg.url = baseUrl + \"/deleteDevice/\" + String(msg.payload.DeviceID).trim();\nmsg.headers = { \"Content-Type\": \"application/json\" };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 660,
        "wires": [
            [
                "17f374061a6622fd"
            ]
        ]
    },
    {
        "id": "6f80c4ed1b6edf21",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 660,
        "wires": [
            [
                "b6f5ae690f369eb4"
            ]
        ]
    },
    {
        "id": "ff3d1f7f75ee6c89",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Building List",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://json_catalog_provider_service:8084/getBuildingList",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 960,
        "wires": [
            [
                "33e14db94bc87487"
            ]
        ]
    },
    {
        "id": "33e14db94bc87487",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 790,
        "y": 960,
        "wires": [
            [
                "ad6dd7408ed4025a"
            ]
        ]
    },
    {
        "id": "d66dd1d574c5af71",
        "type": "inject",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 960,
        "wires": [
            [
                "ff3d1f7f75ee6c89"
            ]
        ]
    },
    {
        "id": "bbddd46be792ade6",
        "type": "function",
        "z": "c7a5a60fd97a99fb",
        "name": "Format for HTTP request",
        "func": "var formData = msg.payload;\nvar baseUrl = \"http://json_catalog_provider_service:8084\";\n\nvar gps = { lat: \"\", long: \"\" };\nif (formData.GPS && String(formData.GPS).trim() !== '') {\n    var parts = String(formData.GPS).split(',');\n    if (parts.length === 2) {\n        gps.lat = parts[0].trim();\n        gps.long = parts[1].trim();\n    }\n}\n\nmsg.payload = {\n    \"buildingID\": String(formData.BuildingID || \"\").trim(),\n    \"buildingName\": String(formData.BuildingName || \"\"),\n    \"userID\": [String(formData.UserID || \"\").trim()].filter(id => id !== \"\"), // Enlever les IDs vides\n    \"address\": String(formData.address || \"\"),\n    \"GPS\": gps\n};\n\nmsg.url = baseUrl + \"/addBuilding\";\nmsg.headers = { \"Content-Type\": \"application/json\" };\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 840,
        "wires": [
            [
                "c6758a8fae3544bf"
            ]
        ]
    },
    {
        "id": "3bc21ab8b501c43f",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "5ca1ed633f6233ad",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 880,
        "wires": [
            [
                "b8238f8e2dee97ba"
            ]
        ]
    },
    {
        "id": "a01b89bb53dbdd55",
        "type": "function",
        "z": "c7a5a60fd97a99fb",
        "name": "Format for HTTP request",
        "func": "var baseUrl = \"http://json_catalog_provider_service:8084\";\nmsg.url = baseUrl + \"/deleteBuilding/\" + String(msg.payload.BuildingID).trim();\nmsg.headers = { \"Content-Type\": \"application/json\" };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 880,
        "wires": [
            [
                "614c8ce755f46cb9"
            ]
        ]
    },
    {
        "id": "6f931d3a3bbf353d",
        "type": "function",
        "z": "c7a5a60fd97a99fb",
        "name": "Format for HTTP request",
        "func": "var formData = msg.payload;\nvar baseUrl = \"http://json_catalog_provider_service:8084\";\n\nvar gps = { lat: \"\", long: \"\" };\nif (formData.GPS && String(formData.GPS).trim() !== '') {\n    var parts = String(formData.GPS).split(',');\n    if (parts.length === 2) {\n        gps.lat = parts[0].trim();\n        gps.long = parts[1].trim();\n    }\n}\n\nmsg.payload = {\n    \"fireFighterID\": String(formData.FireFighterID || \"\").trim(),\n    \"fireFighterServiceName\": String(formData.FireFighterName || \"\"),\n    \"chatID\": String(formData.ChatID || \"\"),\n    \"address\": String(formData.Address || \"\"),\n    \"GPS\": gps,\n    \"lastUpdate\": Date.now() / 1000\n};\n\nmsg.url = baseUrl + \"/addFireFighter\";\nmsg.headers = { \"Content-Type\": \"application/json\" };\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1060,
        "wires": [
            [
                "e81832eeef25af44"
            ]
        ]
    },
    {
        "id": "c84a24decacbd352",
        "type": "inject",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 1180,
        "wires": [
            [
                "dcf31a8ffa4fba88"
            ]
        ]
    },
    {
        "id": "ce102265f3991659",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 1060,
        "wires": [
            [
                "832cf3e9a4f841e6"
            ]
        ]
    },
    {
        "id": "f0f63fa449ebd9d5",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 1100,
        "wires": [
            [
                "e64374ba42c4b5ae"
            ]
        ]
    },
    {
        "id": "5c1d60b78364ce11",
        "type": "function",
        "z": "c7a5a60fd97a99fb",
        "name": "Format for HTTP request",
        "func": "var baseUrl = \"http://json_catalog_provider_service:8084\";\nmsg.url = baseUrl + \"/deleteFireFighter/\" + String(msg.payload.FireFighterID).trim();\nmsg.headers = { \"Content-Type\": \"application/json\" };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1100,
        "wires": [
            [
                "6209e3ce4d65d7b9"
            ]
        ]
    },
    {
        "id": "075158b380ce227e",
        "type": "ui_toast",
        "z": "c7a5a60fd97a99fb",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "User Edit",
        "name": "",
        "x": 1410,
        "y": 480,
        "wires": []
    },
    {
        "id": "aa8f054844a7ec54",
        "type": "change",
        "z": "c7a5a60fd97a99fb",
        "name": "Notification Toast",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"status\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 480,
        "wires": [
            [
                "075158b380ce227e"
            ]
        ]
    },
    {
        "id": "118a4002bdf172cc",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Edit User",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 800,
        "y": 480,
        "wires": [
            [
                "97dcaf47243148ba"
            ]
        ]
    },
    {
        "id": "46da38a1699bf94f",
        "type": "function",
        "z": "c7a5a60fd97a99fb",
        "name": "Format for HTTP request",
        "func": "msg.url = \"http://json_catalog_provider_service:8084/updateUser/\" + msg.payload.UserID;\nmsg.payload = {\n    \"userID\": msg.payload.UserID,\n    \"userName\": msg.payload.UserName,\n    \"chatID\": msg.payload.TChatID\n};\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 480,
        "wires": [
            [
                "118a4002bdf172cc"
            ]
        ]
    },
    {
        "id": "97dcaf47243148ba",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 970,
        "y": 480,
        "wires": [
            [
                "aa8f054844a7ec54"
            ]
        ]
    },
    {
        "id": "974dc9315bb43294",
        "type": "ui_form",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "label": "Edit User",
        "group": "42b9996267da6a46",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User Name",
                "value": "UserName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "User ID",
                "value": "UserID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Telegram Chat ID",
                "value": "TChatID",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "UserName": "",
            "UserID": "",
            "TChatID": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "46da38a1699bf94f"
            ]
        ]
    },
    {
        "id": "de5b2811e19a70aa",
        "type": "ui_form",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "label": "Edit Device",
        "group": "9e8e3c29fbee82ba",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Device Name",
                "value": "DeviceName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Device ID",
                "value": "ClientID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Refresh Time",
                "value": "LifeTimeInterval",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Pull Update Rate",
                "value": "CatalogUpdateIntervalCycles",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Measure Type",
                "value": "MeasureType",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Available Services",
                "value": "AvailableServices",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "MQTT Topic Subscription",
                "value": "topicSub",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "MQTT Topic Publisher",
                "value": "topicPub",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "MQTT Borker Url",
                "value": "broker",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "MQTT Port",
                "value": "port",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "REST Server Host",
                "value": "serverHost",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "REST Sever Port",
                "value": "serverPort",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "REST Server Config",
                "value": "serverConfig",
                "type": "multiline",
                "required": false,
                "rows": 2
            },
            {
                "label": "Extra",
                "value": "extra",
                "type": "multiline",
                "required": false,
                "rows": 2
            },
            {
                "label": "BuildingID",
                "value": "BuildingID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Floor",
                "value": "Floor",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Room",
                "value": "Room",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "DeviceName": "",
            "ClientID": "",
            "LifeTimeInterval": "",
            "CatalogUpdateIntervalCycles": "",
            "MeasureType": "",
            "AvailableServices": "",
            "topicSub": "",
            "topicPub": "",
            "broker": "",
            "port": "",
            "serverHost": "",
            "serverPort": "",
            "serverConfig": "",
            "extra": "",
            "BuildingID": "",
            "Floor": "",
            "Room": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 290,
        "y": 700,
        "wires": [
            [
                "f43688f02efbbb50"
            ]
        ]
    },
    {
        "id": "605c57679de9ac01",
        "type": "ui_toast",
        "z": "c7a5a60fd97a99fb",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Device edit",
        "name": "",
        "x": 1430,
        "y": 700,
        "wires": []
    },
    {
        "id": "f682a3ee8e6f02a1",
        "type": "change",
        "z": "c7a5a60fd97a99fb",
        "name": "Notification Toast",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"status\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 700,
        "wires": [
            [
                "605c57679de9ac01"
            ]
        ]
    },
    {
        "id": "6bf4d16bfa19d98a",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Edit Device",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 700,
        "wires": [
            [
                "ecba33419fd8a64f"
            ]
        ]
    },
    {
        "id": "f43688f02efbbb50",
        "type": "function",
        "z": "c7a5a60fd97a99fb",
        "name": "Format for HTTP request",
        "func": "var formData = msg.payload;\nvar baseUrl = \"http://json_catalog_provider_service:8084\";\nvar targetID = String(formData.ClientID).trim();\n\nvar measureTypes = [];\nif (formData.MeasureType && String(formData.MeasureType).trim() !== '') {\n    measureTypes = String(formData.MeasureType).split(',').map(function (s) { return s.trim(); });\n}\n\nvar availableServices = [];\nif (formData.AvailableServices && String(formData.AvailableServices).trim() !== '') {\n    availableServices = String(formData.AvailableServices).split(',').map(function (s) { return s.trim(); });\n}\n\nvar topicSubs = [];\nif (formData.topicSub && String(formData.topicSub).trim() !== '') {\n    topicSubs = String(formData.topicSub).split(',').map(function (s) { return s.trim(); });\n}\n\nvar topicPubs = [];\nif (formData.topicPub && String(formData.topicPub).trim() !== '') {\n    topicPubs = [String(formData.topicPub).trim()];\n}\n\nvar serverConfig = {};\ntry {\n    if (formData.serverConfig && String(formData.serverConfig).trim() !== '') {\n        serverConfig = JSON.parse(formData.serverConfig);\n    }\n} catch (e) { }\n\nvar extra = {};\ntry {\n    if (formData.extra && String(formData.extra).trim() !== '') {\n        extra = JSON.parse(formData.extra);\n    }\n} catch (e) { }\n\nvar msg1 = RED.util.cloneMessage(msg);\n\nmsg1.payload = {\n    \"clientID\": targetID, \n    \"deviceName\": String(formData.DeviceName || \"\"),\n    \"lifeTimeInterval\": parseInt(formData.LifeTimeInterval) || 20,\n    \"catalogUpdateIntervalCycles\": parseInt(formData.CatalogUpdateIntervalCycles) || 20,\n    \"measureType\": measureTypes,\n    \"availableServices\": availableServices,\n    \"MQTT\": {\n        \"topicSub\": topicSubs,\n        \"topicPub\": topicPubs,\n        \"broker\": String(formData.broker || \"\"),\n        \"port\": parseInt(formData.port) || 1883\n    },\n    \"REST\": {\n        \"serverHost\": String(formData.serverHost || \"\"),\n        \"serverPort\": parseInt(formData.serverPort) || 8080,\n        \"serverConfig\": serverConfig\n    },\n    \"extra\": extra,\n    \"status\": {\n        \"fireStatus\": false\n    },\n    \"lastUpdate\": Date.now() / 1000 \n};\n\nmsg1.url = baseUrl + \"/updateDevice/\" + targetID;\nmsg1.method = \"PUT\"; \nmsg1.headers = { \"Content-Type\": \"application/json\" };\n\nvar msg2 = null;\n\nif (formData.BuildingID && String(formData.BuildingID).trim() !== '') {\n    msg2 = RED.util.cloneMessage(msg);\n    \n    msg2.payload = {\n        \"clientID\": targetID,\n        \"buildingID\": String(formData.BuildingID).trim(),\n        \"floorID\": String(formData.Floor).trim(),\n        \"roomID\": String(formData.Room).trim()\n    };\n    \n    msg2.url = baseUrl + \"/addDeviceToBuilding\";\n    msg2.method = \"POST\";\n    msg2.headers = { \"Content-Type\": \"application/json\" };\n}\n\nif (msg2) {\n    return [[msg1, msg2]];\n} else {\n    return [[msg1]];\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 700,
        "wires": [
            [
                "6bf4d16bfa19d98a"
            ]
        ]
    },
    {
        "id": "ecba33419fd8a64f",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 700,
        "wires": [
            [
                "f682a3ee8e6f02a1"
            ]
        ]
    },
    {
        "id": "7c4843391e1fdeb2",
        "type": "ui_form",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "label": "Edit Building",
        "group": "51c72af8f3b3ab02",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Building Name",
                "value": "BuildingName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Building ID",
                "value": "BuildingID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Building Owner",
                "value": "UserID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Address",
                "value": "address",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Lat, Long",
                "value": "GPS",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "BuildingName": "",
            "BuildingID": "",
            "UserID": "",
            "address": "",
            "GPS": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 290,
        "y": 920,
        "wires": [
            [
                "b0466eedddf24100"
            ]
        ]
    },
    {
        "id": "4ac13b9ede94c1c5",
        "type": "ui_toast",
        "z": "c7a5a60fd97a99fb",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Building edit",
        "name": "",
        "x": 1430,
        "y": 920,
        "wires": []
    },
    {
        "id": "6d9d4472e966972e",
        "type": "change",
        "z": "c7a5a60fd97a99fb",
        "name": "Notification Toast",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"status\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 920,
        "wires": [
            [
                "4ac13b9ede94c1c5"
            ]
        ]
    },
    {
        "id": "dda44b261037b4f4",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Edit Building",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 920,
        "wires": [
            [
                "6d9d4472e966972e"
            ]
        ]
    },
    {
        "id": "b0466eedddf24100",
        "type": "function",
        "z": "c7a5a60fd97a99fb",
        "name": "Format for HTTP request",
        "func": "var formData = msg.payload;\nvar baseUrl = \"http://json_catalog_provider_service:8084\";\nvar targetID = formData.BuildingID;\n\nvar gps = { lat: \"\", long: \"\" };\nif (formData.GPS && String(formData.GPS).trim() !== '') {\n    var parts = String(formData.GPS).split(',');\n    if (parts.length === 2) {\n        gps.lat = parts[0].trim();\n        gps.long = parts[1].trim();\n    }\n}\n\nmsg.payload = {\n    \"buildingID\": targetID,\n    \"buildingName\": String(formData.BuildingName || \"\"),\n    \"userID\": [String(formData.UserID || \"\").trim()].filter(id => id !== \"\"),\n    \"address\": String(formData.address || \"\"),\n    \"GPS\": gps\n};\n\nmsg.url = baseUrl + \"/updateBuilding/\" + targetID;\nmsg.headers = { \"Content-Type\": \"application/json\" };\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 920,
        "wires": [
            [
                "dda44b261037b4f4"
            ]
        ]
    },
    {
        "id": "3254e7132b1dee73",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "622794701d864450",
        "type": "ui_form",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "label": "Edit FireFighter",
        "group": "d3bf7e3d5afc6e7e",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "FireFighter Service Name",
                "value": "FireFighterName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "FireFighter ID",
                "value": "FireFighterID",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Telegram Chat ID",
                "value": "ChatID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Address",
                "value": "Address",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Lat, Long",
                "value": "GPS",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "FireFighterName": "",
            "FireFighterID": "",
            "ChatID": "",
            "Address": "",
            "GPS": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 280,
        "y": 1140,
        "wires": [
            [
                "e4ae59691e199d3e"
            ]
        ]
    },
    {
        "id": "9431ea9f76f7afda",
        "type": "ui_toast",
        "z": "c7a5a60fd97a99fb",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Edit FireFighter",
        "name": "",
        "x": 1430,
        "y": 1140,
        "wires": []
    },
    {
        "id": "4df12e6c194b0174",
        "type": "change",
        "z": "c7a5a60fd97a99fb",
        "name": "Notification Toast",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"status\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1140,
        "wires": [
            [
                "9431ea9f76f7afda"
            ]
        ]
    },
    {
        "id": "149fb04e1fba0bdb",
        "type": "http request",
        "z": "c7a5a60fd97a99fb",
        "name": "Edit FireFighter",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 820,
        "y": 1140,
        "wires": [
            [
                "e4dfc7f294dcbc2e"
            ]
        ]
    },
    {
        "id": "e4ae59691e199d3e",
        "type": "function",
        "z": "c7a5a60fd97a99fb",
        "name": "Format for HTTP request",
        "func": "var formData = msg.payload;\nvar baseUrl = \"http://json_catalog_provider_service:8084\";\n\nif (!formData.FireFighterID || String(formData.FireFighterID).trim() === '') {\n    node.error(\"FireFighterID is required\");\n    return null;\n}\n\nvar targetID = formData.FireFighterID;\n\nvar gps = { lat: \"\", long: \"\" };\nif (formData.GPS && String(formData.GPS).trim() !== '') {\n    var parts = String(formData.GPS).split(',');\n    if (parts.length === 2) {\n        gps.lat = parts[0].trim();\n        gps.long = parts[1].trim();\n    }\n}\n\nmsg.payload = {\n    \"fireFighterID\": targetID,\n    \"fireFighterServiceName\": String(formData.FireFighterName || \"\"),\n    \"chatID\": String(formData.ChatID || \"\"),\n    \"address\": String(formData.Address || \"\"),\n    \"GPS\": gps\n};\n\nmsg.url = baseUrl + \"/updateFireFighter/\" + targetID;\nmsg.headers = { \"Content-Type\": \"application/json\" };\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1140,
        "wires": [
            [
                "149fb04e1fba0bdb"
            ]
        ]
    },
    {
        "id": "e4dfc7f294dcbc2e",
        "type": "json",
        "z": "c7a5a60fd97a99fb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 1140,
        "wires": [
            [
                "4df12e6c194b0174"
            ]
        ]
    }
]